* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body,
html {
  width: 100%; 
  
}

.cabecera {
  font-family: 'Indie Flower', cursive;
  width: 100%;
}

.nav-bar {
  position: fixed;
  z-index: 99999;
  background: rgba(189, 183, 107, 0.6);
  margin: 0.5em 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imagen-logo{
  padding: 0.5em;
  margin: auto 2em;
  width: 10em;
}



.lista-navbar {
  margin: auto;
  margin-right: 4em;
  padding: 1em;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.item {
  
  margin: auto 0.8em;
}

.item a {
  text-decoration: none;
  color:black;
  font-size: 1.8em;
}


.item:hover{
  cursor: pointer;
  color: red;
  font-size: 1.1em;
  transition: all 100ms;
}


.portada{
  background-image: url(./images/portada.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  width: 100%;
  height: 800px;
}

.titulo-portada{
  font-family: 'Indie Flower', cursive;
  margin: auto 0.3em;
  font-size: 5em;
}


.nosotros{
  
  width: 100%;
  padding-top: 4em;
  padding-bottom: 4em;
  background-color: #ffe4b5;
  font-family: 'Indie Flower', cursive;
}

.container-nosotros{
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-y-parrafo{
  width: 70%;
  
}
.titulo-nosotros{
  text-align: center;
  font-size: 2.5em;
  

  
}

.container-parrafo{
  
  
  padding: 1em;
  
}

.parrafo-nosotros{
  text-align: center;
  
}

.imagen-nosotros{
  width: 20%;
  
}

.img-nosotros{
  width: 100%;
}


@media (max-width:990px){

  .nav-bar {
      
      display: flex;
      flex-flow: row wrap;
      
  }

  .imagen-logo{
    display: none;
  }

}

@media (max-width: 750px){

  .container-nosotros{
    flex-direction: column;
  }

  .imagen-nosotros{
    width: 50%;
  }

  .item{
    margin: 0.5em;
    
  }

  .card{
    margin: 2em;
    width: 35% !important;
    
  }
  
  .card:hover{

    transition-property: all 300ms ease;
    width: 38% !important;
  }
}

@media (max-width: 785px){

  .lista-navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
  }

}

@media (max-width: 600px){

  .lista-navbar{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
  }

  .item{
    
    font-size: 0.8em;
  }

  .item:hover{
    font-size: 1em;
    
  }
}


@media (max-width: 720px){

  .contenedor-carousel {
    
    background-color: #ffe4b5;
    display: flex;
    flex-direction: column-reverse;
    
  }

  .inicio{
    width: 100% !important;
    font-size: 1em;
    text-align: center;
  }
  
  .titulo-inicio{
    width: 100%;
    font-family: 'Indie Flower', cursive;
    color: rgb(129, 125, 69);
  }

}

.contenedor-carousel {
  width: 100%;
  background-color: #ffe4b5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel{
  width: 80%;
  margin: 0 2em;  
}

.carousel-item{
  object-fit: cover;
  width:100%;
}
.inicio{
  width: 58%;
  padding: 1em;
}

.titulo-inicio{
  padding: 0.2em;
  font-family: 'Indie Flower', cursive;
  font-size: 3em;
  color: rgb(129, 125, 69);
}

.cards{
  display: flex;
  flex-direction: column;
  background-color: #ffe4b5;
  padding-bottom: 3em;
  width: 100%;
}

.titulo-cards{
  text-align: center;
  padding: 1em 0 0.5em 1em;
  font-size: 3.5em;
  font-family: 'Indie Flower', cursive;
  color: rgb(129, 125, 69);
}

.container-cards{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.card{
  background-color: rgba(189, 183, 107) !important;
  width: 23%;
  border-radius: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Indie Flower', cursive;
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
  transition: all 300ms ease;
}

.card:hover{
  width:25%;
}

.imagen{
  margin-top: 1em;
}

.img-card{
  width: 11em;
  height: 11em;
  border-radius: 50%;
}

.img-card:hover{
  transition-property: all 1000ms ease-in;
  transition-delay: 100ms;
  opacity: 0.6;
}

.titulo-card{
  text-align: center;
  margin-top: 0.5em;
  font-size: 1.6em;
}

.parrafo-card{ 
  padding: 0.3em;
  text-align: center;
}

.suscripcion-consulta{
  width: 100%;
  padding-bottom: 2em;
  font-family: 'Indie Flower', cursive;
  background-color: rgba(189, 183, 107);
  display: flex;
  justify-content: space-around;
}

.container-suscripcion{
  width: 40%;
  padding-top: 2em;
}

.titulo-suscripcion{
  width: 100%;
  font-size: 2em;
}

.labels-suscripcion{
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.input-nombre-completo{
  border: none;
  border-radius: 10px;
  outline: none;
}

.input-email{
  border: none;
  border-radius: 10px;
  outline: none;
}
.boton-suscripcion{
  display: flex;
  justify-content: flex-end;
  width: 90%;
}

.boton{
  width: 6em;
  background-color: white;
  border: none;
  border-radius: 10px;
}

.boton:hover{
  opacity: 0.7;
}

.container-consulta{
  
  width: 40%;
  padding-top: 2em;
}

.titulo-consulta{
  font-size: 2em;
}

.container-labels-consulta{
  margin: 1em;
  display: flex;
  flex-direction: column;
}

.input-nombre-completo{
  text-indent: 5px;
  width: 85%;
}

.input-email{
  width: 85%;
  text-indent: 5px;
}

.container-consulta p{
  margin: 1em;
}

.textarea{
  margin: 1em;
  width: 80%;
  height: 10em;
  outline: none;
}

.boton-consulta{
  display: flex;
  justify-content: flex-end;
  width: 90%;
}

.footer{
  background-color: black;
  width: 100%;
  font-family: 'Indie Flower', cursive;
}

.container-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.social{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  width: 80%;
}

.social i{
  text-align: center;
  color: white;
  font-size: 2em;
  width: 5em;
  
}

.social i:hover{
  transition-duration: 500ms;
  color: rgb(129, 125, 69);
  
}

.links a{
  text-decoration: none;
  color: white;
  padding-left: 0.5em;
}

.links a:hover{
  transition-duration: 300ms;
  color: rgb(129, 125, 69);
  font-size: 1.2em;
}